@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default styles for light mode */
:root[data-theme="light"] {
  --text: #0b1610;
  /* --background: #f3f9f6; */
  --background: #ffffff;
  --primary: #61af81;
  --secondary: #a7c7d2;
  --accent: #86a3c2;
}
:root[data-theme="dark"] {
  --text: #ebf5ef;
  --background: #070e0a;
  --primary: #509f71;
  --secondary: #2d4d58;
  --accent: #3e5b7a;
}


  
  /* Body styling */
  body {
    color: var(--text);
    background-color: var(--background);
  }
  @layer base {
  :root {
        --radius: 0.5rem;
    }
}
  